{% extends "base.html" %}

{% block content %}

<div style="width:800px;MARGIN-RIGHT:auto;MARGIN-LEFT:auto;">
	<form id="form" name="submit" action="" method="POST">
		{% csrf_token%}

		<table>
			<tr>
				<th>组合</th>
				<td class="errorlist"></td>
				<td class="check_box_td">选择</td>
				<td class="multi_number_td">多选个数</td>
				<td class='show_number_td'>显示顺序</td>
				
			</tr>

			{{form}}

		</table>

		<br>
		<input style="float:left" class="bnt1" type="submit" id="submit" value="提交">
		<input style="margin-left:20px;float:left" class="bnt1" type="button" value="返回" onclick="history.go(-1)">
	</form>

</div>

{% endblock %}
