{% extends "base.html" %}
{% block title %}{{ description_meta_object.id }} - {{ description_meta_object.title }}{% endblock %}
{% block content %}

<div>
	<div>
		<h1>元描述: {{ description_meta_object.title }}</h1>
	</div>
	<div>
		<a href="{% url description_meta_list 1%}">返回元描述列表</a>
	</div>
	<div>

		<table>
			<tr>
				<td>编号</td>
				<td>组合</td>
				<td>多选个数</td>
				
			</tr>
			{% for object in detail_list %}
			<tr>
				<td>{{ object.item_relation_id }}</td>
				<td><a href="{% url item_relation_detail object.item_relation_id%}">{{ object.item_relation_title }}</a></td>
				<td>{{ object.multi_number }}</td>
				
			</tr>
			{% endfor %}
		</table>
	</div>

</div>

{% endblock %}

